@(item: Item, feed: Feed, bookmark: Option[Bookmark])

<div class="title">
    <h1><img title="@feed.name" class="icon" src="@feed.favicon" /> <a href="@item.url">@item.title</a></h1>
    <div class="tools">
        @bookmark match {
            case None => { <a class="star" href="@routes.ItemController.star(item.id.get)"><i class="icon-star-empty"></i></a> }
            case Some(bookmark) => { <a class="star" href="@routes.ItemController.unstar(item.id.get)"><i class="icon-star"></i></a> }
        }
    </div>
</div>
<div class="content">
@Html(item.content)
</div>