@(feeds: Seq[Feed], form: Form[(String)])(implicit request: play.api.mvc.Request[Any], user: Option[User], flash: Flash)

@styles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/settings.css")">
}

@layout.main(styles) {
<section class="span12 settings">
    @flash.get("success").map { msg =>
        <p class="text-success">@msg</p>
    }
    @flash.get("error").map { msg =>
        <p class="text-error">@msg</p>
    }

    <form action="@routes.Settings.feedNew" method="post" class="register form-inline">
        <div>
            <input type="text" id="url" name="url" value="@form("url").value" maxlength="255" placeholder="Feed">
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Feed URL</th>
                <th>Last Update</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @for(feed <- feeds) {
            <tr>
                <td>@feed.name</td>
                <td>@feed.url</td>
                <td>
                @feed.lastUpdate match {
                    case None => { - }
                    case Some(date) => { @date.format("yyyy-MM-d HH:m") }
                }
                </td>
                <td><a href="@routes.Settings.feedUnsubscribe(feed.id.get)"><i class="icon-trash"></i></a></td>
            </tr>
            }
        </tbody>
    </table>
</section>
}
