@(feeds: Seq[Feed], form: Form[(String)])(implicit request: play.api.mvc.Request[Any], user: Option[User], flash: Flash)

@layout.main() {
<section class="span12 settings">
    @flash.get("success").map { msg =>
        <p class="text-success">@msg</p>
    }
    @flash.get("error").map { msg =>
        <p class="text-error">@msg</p>
    }

    <form action="@routes.Settings.feedNew" method="post" class="register form-inline">
        <div>
            <input type="text" id="url" name="url" value="@form("url").value" maxlength="255" placeholder="Feed">
            <button type="submit" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-success upload" data-toggle="modal" data-target="#upload"><i class="icon-upload-alt"></i></button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Feed URL</th>
                <th>Last Update</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @for(feed <- feeds) {
            <tr>
                <td>@feed.name</td>
                <td>@feed.url</td>
                <td>
                @feed.lastUpdate match {
                    case None => { - }
                    case Some(date) => { @date.format("yyyy-MM-d HH:m") }
                }
                </td>
                <td><a href="@routes.Settings.feedUnsubscribe(feed.id.get)"><i class="icon-trash"></i></a></td>
            </tr>
            }
        </tbody>
    </table>
</section>

<div id="upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form action="/settings/feed/import" method="post" enctype="multipart/form-data">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Import OPML file</h3>
    </div>
    <div class="modal-body">
        <input name="opml" type="file" title="Choose your OPML file" />
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-success">Upload</button>
    </div>
    </form>
</div>

}
