@(styles: Html = Html(""), scripts: Html = Html(""), term: String = "")(content: Html)(implicit request: play.api.mvc.Request[Any], user: Option[User] = None)
@import controllers.VersionedAssets._

<!doctype html>
<html lang="fr">
    <head>
        <title>Rss</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" media="screen" href="@routes.VersionedAssets.at("stylesheets/all.min.css")">
        @styles
        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400" media="screen" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" type="image/png" href="@routes.VersionedAssets.at("images/favicon.png")">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner container">
                @if(user != None) {
                    <a class="brand" href="@routes.Application.index"><i class="icon-rss"></i>Rss</a>
                    <div class="pull-right right">
                        <p class="unread"><span class="number">?</span> <i class="icon-file-text"></i></p>
                        @if(request.uri != "/settings") {
                        <form id="search" method="get" action="/search">
                            <input id="term" name="term" type="text" value="@term" />
                            <i class="icon-search"></i>
                        </form>
                        <a class="btn" id="expandSearch" href="#"><i class="icon-search"></i></a>
                        }
                        <ul class="nav nav-pills">
                            <li class="dropdown">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cogs"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a class="user" href="@routes.Settings.feed">Settings</a></li>
                                    <li><a class="logout" href="@routes.Auth.logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                } else {
                    <a class="brand" href="@routes.Application.index"><i class="icon-rss"></i>Rss</a>
                    <ul class="nav pull-right auth">
                        <li @if(request.uri == "/register") { class="active" }><a href="@routes.Auth.register"><strong>Register</strong></a></li>
                        <li @if(request.uri == "/login") { class="active" }><a href="@routes.Auth.login">Login</a></li>
                    </ul>
                }
            </div>
        </div>

        <div class="container">
            <div class="row">
                @content
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript">
        //<![CDATA[
         window.jQuery || document.write("<script src=\"@routes.VersionedAssets.at("vendor/lazy/jquery-1.9.1.min.js")\" type=\"text/javascript\"><\/script>")
        //]]>
        </script>
        <script src="@routes.VersionedAssets.at("javascripts/all.min.js")" type="text/javascript"></script>
        @scripts
    </body>
</html>
