* {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
}

body {
  background: #f0f1f5;
  padding-top: 65px;
  color: #444;
}

strong {
  font-weight: 400;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.navbar-fixed-top .navbar-inner {
  padding-left: 20px
}

input[type="text"], input[type="password"] {
  background-color: #EFEFEF !important;
  height: 30px;
}

input[type="text"], input[type="password"], textarea, button {
  border-radius: 2px !important;
}

section {
  margin-bottom: 40px;
}

form {
  label, input, button {
    font-family: Roboto;
    font-size: 16px !important;
    font-weight: 300 !important;
  }
}

.register {
  div.large {
    text-align: center;

    .error {
      color: #B94A48;
    }

    button {
      width: 205px;
    }
  }
}