section.settings {
    padding: 20px;
    background: white;

    div {
        width: 100%;

        input {
            height: 24px;
            width: 90%;
        }

        button {
            height: 24px;
            width: 9%;
            line-height: 14px;
        }
    }

    .table {
        margin-bottom: 0;

        a:hover {
            text-decoration: none;
        }

        td:nth-child(3) {
            text-align: right;
        }
    }
}