#welcome {
    position: fixed;
    right: 80px;
    text-align: right;

    i {
        font-size: 30px;
    }

    p {
        background: white;
        font-size: 20px;
        padding: 10px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #d4d4d4;
        margin-top: 10px;
    }
}