@(items: List[(Item, Feed, Option[Read])])(implicit request: play.api.mvc.Request[Any], user: Option[User])

@styles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/application.css")">
}

@layout.main(styles) {
<aside class="span4 items">
    <ul>
    @for((item, itemFeed, itemRead) <- items) {
        <li id="item_@item.id" class="item @itemRead.map(_ => "read").getOrElse("") @if(item.id == items(0)._1.id) { selected }">
            <img title="@itemFeed.name" class="icon" src="@itemFeed.favicon" />
            @if(item.date == None) { <em class="date">!</em> }
            @item.title
        </li>
    }
    </ul>
</aside>
<section class="span8 hyphenate article">
@Html(items(0)._1.content)
</section>
}
