@(selection: String, feed: Option[Feed], feeds: Seq[Feed], items: List[(Item, Feed, Option[Read], Option[Bookmark])], term: String = "")(implicit request: play.api.mvc.Request[Any], user: Option[User])

@layout.main(term = term) {
<aside class="span4">
    <div class="feeds dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            @feed match {
                case Some(feed) => {
                    @if(feed.favicon.isDefined) {
                        <img title="@feed.name" class="icon" src="@feed.favicon" />
                    }
                    <span class="name">@feed.name</span> @if(feed.unread > 0) {<span class="unread">@feed.unread</span>} }
                case None => {
                    @selection match {
                        case "all"      => { <i class="icon-hdd"></i> All }
                        case "starred"  => { <i class="icon-star"></i> Starred }
                    }
                }
            }
        <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            @if(selection != "all") {
                <li><a class="menuitem" href="@routes.Application.index"><i class="icon-hdd"></i> All</a></li>
            }
            @if(selection != "starred") {
                <li><a class="menuitem" href="@routes.Application.starred"><i class="icon-star"></i> Starred</a></li>
            }
            <li class="divider"></li>

            @for(f <- feeds) {
                @if(feed == None || f.id != feed.get.id) {
                    <li id="feed_@f.id"><a class="menuitem" href="@routes.Application.feed(f.id.get)">
                        <div class="icon" style="background-image: url('@f.favicon')"></div>
                        <span class="name">@f.name</span> @if(f.unread > 0) {<span class="unread">@f.unread</span>}</a>
                    </li>
                }
            }
        </ul>
    </div>
    <ul class="items">
    @for((item, itemFeed, itemRead, itemBookmark) <- items) {
        <li id="item_@item.id" class="item @itemRead.map(_ => "read").getOrElse("") @if(item.id == items(0)._1.id) { selected }">
            @if(itemFeed.favicon.isDefined) {
                <div class="icon" style="background-image: url('@itemFeed.favicon')"></div>
            }
            @if(item.date == None) { <em class="date">!</em> }
            @item.title
        </li>
    }
    </ul>
</aside>
<section class="offset4 span8 article">
@if(items.size > 0) {
    @items(0) match {
        case (item, feed, read, bookmark) => {
            <div class="title">
                <h1 id="its_item_@item.id"><div class="icon" style="background-image: url('@feed.favicon')@if(feed.favicon.isEmpty) { ;display:none }"></div> <a href="@item.url">@item.title</a></h1>
                <div class="tools">
                    @bookmark match {
                        case None => { <a class="star" href="@routes.ItemController.star(item.id.get)"><i class="icon-star-empty"></i></a> }
                        case Some(bookmark) => { <a class="star" href="@routes.ItemController.unstar(item.id.get)"><i class="icon-star"></i></a> }
                    }
                    <a class="info" href="#" data-content="<i class='icon-time'></i> @item.cleanDate" data-trigger="hover"><i class="icon-info-sign"></i></a>
                </div>
            </div>
            <div class="content hyphenate">
            @Html(item.content)
            </div>
        }
    }
}
</section>
}
